@model CategoryModel

<form asp-action="Edit" method="post">

    <div class="container">

        @* <div class="mt-3 mb-3"> *@
            <input asp-for="CategoryId" type="hidden" />
        @* </div> *@

        <div class="mb-3">
            <label class="form-label" asp-for="CategoryName">Category Name :</label>
            <input asp-for="CategoryName" class="form-control" />
            <span class="text-danger" asp-validation-for="CategoryName"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Description">Description :</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Image">Image :</label>
            <input asp-for="Image" class="form-control" />
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>

    </div>
</form>