@{
    ViewData["Title"] = "Home Page";
}

    @* hero Section *@
    <section id="hero" class="py-5">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">

                    <h1 class="display-4 fw-bold">Find Trusted Home Services</h1>

                    <p class="lead">
                        Book Verified professionals for Cleaning,
                        plumbing, electrical work, painting,
                        appliance repair and more.
                    </p>

                    <a href="#" class="btn btn-primary me-2"> Book Now </a>

                    <a href="#" class="btn btn-outline-primary">Explore Services</a>
                </div>

                <div class="col-lg-6">

                    <div class="text-center">

                        <div class="display-2">🏠</div>

                    <p>HomeEase Illustration</p>

                    <h4> Images Coming Soon</h4>

                    </div>

                </div>
            </div>
        </div>
    </section>

    @* popular categories sections *@
    <section id="categories" class="py-2">

        <div class="container">
            <h2 class="text-center mb-5">Popular Categories</h2>

            <div class="row">

                <div class="col-lg-3">

                    @* Plumber card *@
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="text-center">

                                <div class="display-3">🧑🏼‍🔧</div>

                                <h5 class="card-title">Plumber</h5>
                                <p>Expert Plumbing services for home and offices.</p>

                                <a href="#" class="btn btn-primary">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                @* Cleaning card *@
                    <div class="col-lg-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="text-center">
                            <div class="display-3">🧹</div>
                            <h5 class="card-title">Cleaning</h5>
                            <p>Home & office cleaning.</p>

                            <a href="#" class="btn btn-primary">Explore</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    @* Electrician card *@
                    <div class="col-lg-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="text-center">
                            <div class="display-3">👩🏻‍🔧</div>
                            <h5 class="card-title">Electrician Card</h5>
                            <p class="card-text">Safe electrical repairs.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    @* Painting Card *@
                    <div class="col-lg-3">
                    <div class="card shadow-none">
                        <div class="card-body">
                            <div class="text-center">
                            <div class="display-3">🎨</div>
                            <h5 class="card-title">Painting Card</h5>
                            <p class="card-text">Interior & exterior painting.</p>
                            <a href="#" class="btn btn-primary">Explore</a>
                            </div>
                        </div>
                    </div>
                    </div>
                   
            </div>
        </div>
    </section>


