@{
    ViewData["Title"] = "Home Page";
}

    @* hero Section *@
    <section id="hero" class="py-5">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">

                    <h1 class="display-4 fw-bold">Find Trusted Home Services</h1>

                    <p class="lead">
                        Book Verified professionals for Cleaning,
                        plumbing, electrical work, painting,
                        appliance repair and more.
                    </p>

                    <a href="#" class="btn btn-primary me-2"> Book Now </a>

                    <a href="#" class="btn btn-outline-primary">Explore Services</a>
                </div>

                <div class="col-lg-6">

                    <div class="text-center">

                        <div class="display-2">🏠</div>

                    <p>HomeEase Illustration</p>

                    <h4> Images Coming Soon</h4>

                    </div>

                </div>
            </div>
        </div>
    </section>

    @* popular categories sections *@
    <section id="categories" class="py-5">

        <div class="container">
            <h2 class="text-center mb-5">Popular Categories</h2>

            <div class="row">

            </div>
        </div>
    </section>


