@{
    ViewData["Title"] = "Home Page";
}
@model List<HomeEase_2._0_MVC.Models.DomainModels.CategoryModel>

    @* hero Section *@
    <section id="hero" class="py-5">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">

                    <h1 class="display-4 fw-bold">Find Trusted Home Services</h1>

                    <p class="lead">
                        Book Verified professionals for Cleaning,
                        plumbing, electrical work, painting,
                        appliance repair and more.
                    </p>

                    <a href="#" class="btn btn-primary me-2"> Book Now </a>

                    <a href="#" class="btn btn-outline-primary">Explore Services</a>
                </div>

                <div class="col-lg-6">

                    <div class="text-center">

                        <div class="display-2">🏠</div>

                    <p>HomeEase Illustration</p>

                    <h4> Images Coming Soon</h4>

                    </div>

                </div>
            </div>
        </div>
    </section>

    @* popular categories sections *@
    <section id="categories" class="py-2">

        <div class="container">
            <h2 class="text-center mb-5">Popular Categories</h2>

        <a class="btn btn-info mb-3" asp-controller="Home" asp-action="Create" >Add Category</a>

            <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 mb-4">
                    <div class="card shadow h-100" id="cardC">
                        <div class="card-body text-center" >
                            @* <div class="display-3">🧑🏼‍🔧</div> *@
                            <img class="card-img rounded d-flex justify-content-center align-items-center" height="150px" width="150px" src="~/images/@item.Image" />
                            <h4 class="card-title">@item.CategoryName</h4>
                            <p class="card-text">@item.Description</p>

                            <a class="btn btn-primary w-auto" href="#">Explore </a>

                            <a class="btn btn-warning w-auto" asp-action="Edit" asp-route-id="@item.CategoryId" >Edit </a>
                        </div>
                    </div>
                </div>
            }

            </div>
        </div>
    </section>


